/*---------Navigation-----------*/
.nav {
  @extend .flex-center;
  font-family: $header-font, Arial, Helvetica, sans-serif;
  color: $header-color;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 80%;
  width: 66.666%;
  max-width: 66.666%;
  transition: width $animateTime ease-out $fadeTime,
    font-size $animateTime ease-out $fadeTime,
    height $animateTime ease-out $fadeTime,
    max-width $fadeTime ease-out $fadeTime;
  font-size: $nav-size;
  p {
    transition: margin $animateTime ease-out $fadeTime;
    text-align: center;
    margin: 0;
    cursor: default;
    width: 80%;
    &.active {
      font-weight: bold;
      transition: margin $animateTime ease-out;
    }
  }
}
.expand .nav {
  transition: width $animateTime ease-out, font-size $animateTime ease-out,
    height $animateTime ease-out;
  font-size: $nav-size/2;
  height: 100%;
  width: $logoExpandedWidth/3;
  max-width: $logoMaxWidth/3;
  p {
    transition: margin $animateTime ease-out;
    margin: 40px 0;
  }
}
