$header-font: "Open Sans" !default;
$header-color: #606369 !default;
$header-size-h1: 30px !default;
$header-size-h2: 20px !default;
$body-font: "Source Code Pro" !default;
$body-color: #2d2d2d !default;
$body-size: 16px !default;
$body-line-height: 1.4 !default;
$nav-size: 50px;
$animateTime: 0.4s !default;
$fadeTime: 0.2s !default;
$logoAspectRatio: 5/3 !default;
$logoMaxWidth: 180px !default;
$logoExpandedWidth: 30vw !default;
$logoExpandedWidthAsFraction: 0.3 !default;
$frameMarginThickness: 10px !default;
$frameColor: #eaeaea !default;
$cardMaxWidth: 400px !default;
